<div class="alert alert-dismissable">Alert!<span class="close">x</span></div>
<form name="userForm" data-ng-submit="submitForm(userForm.$valid)" novalidate>  
  <div class="form-group">
     <label for="name">Navn:</label>
     <input type="text" name="name" class="form-control" data-ng-model="user.name" required jw-name>
     <span class="label label-danger" data-ng-show="userForm.$error.name">Invalid name!</span>
  </div>
  <div class="form-group">
     <label for="email">Email:</label>
     <input type="email" name="email" class="form-control" data-ng-model="user.email" required jw-email>
     <span class="label label-danger" data-ng-show="userForm.$error.email">Invalid email!</span>
     <span class="label label-danger" data-ng-show="userForm.$error.dkMail">Not danish mail!</span>
  </div>
  <div class="form-group">
     <label for="receiver">Receiver:</label>
     <input type="text" name="receiver" class="form-control" list="receivers" data-ng-model="user.receiver" required>
     <datalist id="receivers">
       <option ng-repeat="reciever in recievers" value="{{reciever.mail}}"><span>{{reciever.name}}</span></option>

     </datalist>
  </div>
  <div class="output">{{response}}</div>
</form>