<form name="itemForm" data-ng-submit="itemSave(itemForm.$valid)" novalidate>  
  <div class="form-group">
     <label for="item">Vare:</label>
     <input type="text" name="item" class="form-control" data-ng-model="item.name" required jw-email>
     <span class="label label-danger" data-ng-show="itemForm.$error.name">Invalid email!</span>
  </div>
  <div class="form-group">
     <label for="amount">Kvantum:</label>
     <input type="number" name="amount" class="form-control" data-ng-model="item.amount" required>
  </div>
  <div class="form-group">
     <label for="measure">Mål:</label>
     <input type="text" name="measure" class="form-control" list="measures" data-ng-model="item.measure" required>
     <datalist id="measures">
       <option ng-repeat="measure in measures" value="{{measure}}"></option>
     </datalist>
  </div>
  <div class="form-group">
     <input type="submit" id="submit" value="Save" />
  </div>
</form>